@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.show {
  margin: 8rem $desktop-margin;
  padding: 0 2rem;

  &__summary {
    width: 100%;
    line-height: 3rem;
    min-height: 40vh;
    margin-bottom: 1rem;
    @include flex(row, flex-start, flex-start);
  }

  &__image {
    width: 25rem;
    height: 18rem;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
  }

  &__description {
    padding: 0 2rem;

    h2 {
      font-size: 2.5rem;
    }
    p {
      line-height: 1.8rem;
      font-size: 1.3rem;
    }
  }

  &__details {
    height: 30rem;
    width: 100%;
    color: $primary-white;
    @include flex(row, space-between, flex-start);
  }

  &__info {
    width: 48%;

    h3 {
      color: $primary-brown;
      margin-bottom: 1rem;
      font-size: 1.8rem;
      padding: 1rem;
      border-bottom: 2px solid $primary-white;
      border-radius: 0 0 0 8px;
    }

    p {
      padding: 1rem;
      line-height: 1.2rem;
    }
  }

  &__infoContainer {
    @include flex(row, flex-start, center);
    height: 5rem;
    margin: 0.2rem;

    p,
    b {
      font-size: 1.3rem;
    }
  }

  &__profileImage {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
}
