@use "./partials/resets";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.main {
  margin: 6rem 2rem;

  @include tablet {
    margin: 7rem 3rem;
  }

  @include desktop {
    margin: 7rem $desktop-margin;
  }
}
