@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
  height: 50vh;
  width: 100%;
  background-color: $primary-white;
  @include flex(row, space-between, flex-start);
  position: absolute;
  top: 0;
  z-index: -1;
  background-size: cover;
  padding: 2rem;

  @include tablet {
    padding: 3rem;
    justify-content: space-between;
  }

  @include desktop {
    padding: 3rem $desktop-margin;
  }
}

.logo {
  letter-spacing: 3px;
  font-size: 1.7rem;
  font-weight: 100;

  &:hover {
    cursor: pointer;
  }
}

.userContainer {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(230, 230, 230, 0.2);
  }
}

.userIcon {
  display: block;
}
