@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.intro {
  width: 50%;
  p {
    line-height: 1.5rem;
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
}

.episodes {
  margin: $desktop-margin;

  &__header {
    width: 100%;
    @include flex(row, space-between, center);
    z-index: 1;
    padding: 1rem 0;

    h3 {
      font-size: 1.3rem;
    }

    input {
      background: none;
      border-radius: 5px;
      border: 1px solid $primary-brown;
      padding: 4px 1.8rem;
      width: 16%;
    }
  }
}

.episodeContainer {
  width: 100%;
  @include flex(row, space-between, center);
  flex-wrap: wrap;
}

.loading {
  width: 100%;
  height: 100vh;
  @include flex(row, center, center);
}
