.episodecard {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 10px;
  margin: 0.5rem;
  width: 15%;
  background-color: #f5fbef;
  border: 1px solid #f5fbef;

  &__image {
    border-radius: 10px 10px 0 0;
    height: 10rem;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 80%;
  }

  &__content {
    border-radius: 0 0 10px 10px;
    padding: 0.2rem 0.8rem;
    display: flex;
    flex-direction: column;
  }

  &__details {
    height: 8rem;
    padding: 0;
    h3 {
      font-size: 1.2rem;
    }
    p {
      font-size: 0.7rem;
    }
  }
}
